{% if class.properties.length > 0 %}
  <h2 id="{{ class.name }}.properties">Properties</h2>
  <div class="params-table">
    <div class="params-table-header">Name</div>
    <div class="params-table-header">Type</div>
    <div class="params-table-header">Description</div>
    {% for property in class.properties %}
      <div class="params-cell" id="{{ class.name | capitalize }}.{{ property.name }}">
        {{ property.name | escape }}
        {% if property.readonly %}
          <br/><span class="font-normal"> (read only)</span>
        {% endif %}
      </div>
      <div class="params-cell">
        {% for type in property.type.names %}
          {{ type | escape }}{% if forloop.last == false %}<br/>{% endif %}
        {% endfor %}
      </div>
      <div class="params-cell">
        {{ property.description }}
      </div>
    
    {% endfor %}
  </div>
{% endif %}
  
